*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.corpo{

    background-image: url(img/fundoBolas.png);
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0%;
    display:block;
    width: 1280px;
    height: 2107px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.foto1{
    margin: 0px;
    padding: 0px;
    width: 1280px;
    height: 790px;
    flex-shrink: 0;
    position:static;
    background: url(img/fundoAzulLaranja.png), lightgray 50% / cover no-repeat;
}

.navbar{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.BarraPesquisa{
    display: flex;
    border: none;
    border-radius: 100px;
    border: 5px solid #FFF;
    margin-right: 30px;
}

.pesquisa{
    background: none;
    border: none;
    margin-left: 10px;
    
}

.lupa{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin: 15px;
}

.barraItens {
    list-style: none;
    display: flex;
    
}

.barraItens>li {
    padding-left: 20px;
    padding-top: 15px;

}

.logo{
    width: auto;
    height: auto;
}

.flor{
    margin-top: 25%;
    padding: 0%;
}

.amarelo{
    width: 269px;
    height: 266px;
    flex-shrink: 0;
    border: #FFF solid 5px;
    border-radius: 1000px;
    background: #F2B90F;
    margin-top: 0px;
    margin-left: 968px;
    margin-right: 43px;
    margin-bottom: 0px;
    box-sizing: border-box; 
    
}

.azulEscuro{
    width: 269px;
    height: 267px;
    flex-shrink: 0;
    border: #FFF solid 5px;
    border-radius: 1000px;
    background: #195973;
    margin-top: -110px;
    margin-left: 792px;
    margin-right: 219px;
    margin-bottom: 408px;
    box-sizing: border-box; 
    
}

.verdeEscuro{
    width: 269px;
    height: 266px;
    flex-shrink: 0;
    border: #FFF solid 5px;
    border-radius: 1000px;
    background: #255954;
    margin-top: -775px;
    margin-left: 545px;
    margin-right: 468px;
    margin-bottom: 0px;
    box-sizing: border-box;
    
}

.laranja{
    width: 269px;
    height: 266px;
    flex-shrink: 0;
    border: #FFF solid 5px;
    border-radius: 1000px;
    background: #F28705;
    margin-top: -500px;
    margin-left: 565px;
    margin-right: 446px;
    margin-bottom: 572px;
    box-sizing: border-box; 
    
}

.azul{
    width: 269px;
    height: 266px;
    flex-shrink: 0;
    border: #FFF solid 5px;
    border-radius: 1000px;
    background: #4E84A6;
    margin-top: -850px;
    margin-left: 834px;
    margin-right: 177px;
    margin-bottom: 0px;
    box-sizing: border-box; 
    
}

.fotoCrianca1{
    width: 418px;
    height: 292px;
    flex-shrink: 0;
    border: #FFF solid 5px;
    border-radius: 500px;
    margin-top: -130px;
    margin-left: 664px;
    margin-right: 198px;
    margin-bottom: 100px;
    box-sizing: border-box;
    background: url(img/imageskids\ 1.png), lightgray 50% / cover no-repeat;
}

.segundaParte{
    margin-top: -30%;
    margin-left: 50px;
    padding: 0%;
    width: 400px;
}

.titulo2{
    display: flex;
    width: 464px;
    height: 177px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(25, 89, 115, 0.80);
    font-size: 48px;
    font-family: Montserrat Alternates;
    font-weight: 700;
    line-height: normal;
}

.botao{
    width: 353px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 5px solid #F28705;
    background: #F28705;
}

.botaoTexto{
    background: none;
    border: none;
    display: flex;
    width: 243px;
    height: 16px;
    margin-top: 8px;
    margin-left: 10px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-size: 18px;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}